<%= render partial: 'shared/nav', locals: {title:'CATEGORIES', symbol:'', url: ''}%>

<section class="section-container">
  <p> <%= notice %></p>
  <div  class="total-field"> 
  <p class="group-user-name"> Total expenses for <%= current_user.name.titleize %> </p>
   <p class="total-expenses"> $<%=@total_expenses %> </p>
  </div>
  <div>
  <% @groups.includes(:expenses).each do |group| %>
  <%= render partial: 'shared/group', locals: { group: group } %>
<%end%>
      </div>
      <div class="button-field">
      <div class="push-option">
      <%= button_to 'ADD CATEGORY', new_user_group_path(user_id: current_user.id), method: :get, class: 'add-option'%> </div>
      </div>
</section>